<div class="main-view">
  <div id="navbar" class="navbar">
    <app-navbar></app-navbar>
  </div>
  <div id="home" class="main-div">
    <app-home></app-home>
  </div>
  <div id="about" class="main-div">
    <app-about-me></app-about-me>
  </div>
  <div id="resume" class="main-div">
    <app-resume></app-resume>
  </div>
  <div id="contact" class="main-div">
    <app-contact></app-contact>
  </div>
  <div id="footer" class="main-div">
    <app-footer></app-footer>
  </div>
  <app-scroll-to-top-button></app-scroll-to-top-button>
</div>
