@import "./../../../assets/main.scss";
@import "./../../../assets/variables.scss";

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $container-background;
  padding: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.title-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;

  .resume-title {
    font-size: 1rem;
    font-weight: 500;
    color: $accent;
  }

  .title-underline {
    content: "";
    display: block;
    width: 25%;
    height: 2px;
    background-color: $primary;
    margin: 0.5rem auto;
  }
}

.timeline {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;

  .timeline-line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 6px;
    height: 100%;
    background-color: $accent;
    transform: translateX(-50%);
    transition: background-color 0.5s ease;
  }

  .timeline-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .timeline-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      width: 100%;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      .timeline-content {
        background-color: $white;
      }

      .timeline-content,
      .timeline-image {
        padding: 20px 30px;
        position: relative;
        border-radius: 6px;
        width: 50%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
          color: $accent;
          font-size: 26px;
          margin-bottom: 5px;
        }

        h3 {
          color: $primary;
          font-size: 22px;
          margin-bottom: 5px;
        }

        p {
          color: $accent-dark;
          font-size: 20px;
          margin-bottom: 5px;
          font-weight: 500;
        }

        div {
          color: $accent-dark;
          font-size: 18px;
          margin-bottom: 5px;
          font-weight: 500;
        }

        .logo {
          width: 100%;
          height: auto;
          max-width: 150px;
          max-height: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: $tablet-width) {
  .title-container {
    width: 100% !important;
  }
}

@media screen and (max-width: $mobile-width) {
  .title-container {
    width: 100% !important;
  }

  .timeline-content,
  .timeline-image {
    h2 {
      font-size: 18px !important;
    }

    h3 {
      font-size: 16px !important;
    }

    p {
      font-size: 14px !important;
    }

    div {
      font-size: 12px !important;
    }
  }
}
